<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>protocolo CHAP</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div id="app">
        <div id="main-panel">
            <div id="log-in-panel">
                <div class="mensaje-superior" v-if="showMessage">
                    <h1>Esperando respuesta del servidor</h1>
                </div>

                <div v-if="showLogIn" style="width: 90%;">
                    <span id="userDoesNotExist" v-if="!userExist">El usuario no existe</span>
                    <form @submit.prevent="handleSubmit" v-if="showNameForm">
                        <h2>Bienvenido al sistema, Señor Usuario</h2>
                        <button class="col-md-3 btn-home btn btn-success mt-3 special-button blue" id="submitButton"
                            type="submit">
                            <p><i class="fa-solid fa-house"></i>Ingresar</p>
                        </button>
                    </form>

                    <div v-if="showAnswerForm" class="answer-form-container">
                        <h2 style="text-align: start;">Información enviada</h2>
                        <ul>
                            <li><b>ID:</b> {{ id }}</li>
                            <li><b>Número aleatorio:</b> {{ randomNumber }} </li>
                        </ul>
                        <br>
                        <form @submit.prevent="createHashForClient" class="hashForm">
                            <input type="text" class="control-form" v-model="textToTransform"
                                placeholder="ID + Número Aleatorio + Contraseña">
                            <button class="special-button yellow btn-calculator">
                                <p>Generar Hash</p>
                            </button>
                        </form>
                        <!-- Solo el span tiene transición -->
                        <transition name="fade-slide">
                            <span style="margin-top: 4vh; padding-left: 20px;" v-if="showHash"><b>● Hash: </b>{{
                                hashCode }}</span>
                        </transition>
                        <form @submit.prevent="nextStep">
                            <label for="recivedAnswer">Respuesta: </label>
                            <input type="text" class="control-form" id="recivedAnswer" name="recivedAnswer"
                                v-model="recivedAnswer" placeholder="Ingresa el hash obtenido" required>
                            <label for="username">Usuario:</label>
                            <input type="text" class="control-form" id="username" name="username" v-model="username"
                                placeholder="Ingrese su nombre de usuario" required>
                            <button class="special-button btn-send blue" id="submitButton" type="submit">
                                <p><i class="fa-solid fa-paper-plane"></i>Enviar</p>
                            </button>
                        </form>
                    </div>
                </div>
                <div id="accessMessage" v-if="!showLogIn" :class="accessClass">
                    <h1>{{ accessMessage }}</h1>
                </div>
            </div>

            <div id="simulation-panel">
                <div id="buttonsPanel">
                    <button class="special-button green btn-plus" @click="showUserForm">
                        <p><i class="fa-solid fa-plus"></i>Crear usuario</p>
                    </button>
                    <button class="special-button yellow btn-see" @click="showUsersPanel">
                        <p><i class="fa-solid fa-user"></i>Ver usuarios</p>
                    </button>
                </div>
                <h1 style="text-align: center;">Simulación de Servidor</h1>
                <transition-group name="move-fade" tag="div" style="width: 100%;">
                    <div class="information" v-if="showInformation" key="info">
                        <h2>Información</h2>
                        <ul>
                            <li><b>Id:</b> {{ id }}</li>
                            <li><b>Número aleatorio:</b> {{ randomNumber }} </li>
                            <li v-if="showStage3"><b>Respuesta recibida:</b> {{ recivedAnswer }}</li>
                            <li v-if="showStage4"><b>Respuesta esperada:</b> {{ expectedAnswer }}</li>
                        </ul>
                    </div>
                    <label key="msg" style="color: rgb(0, 162, 255); font-weight: bold;">(MENSAJE): {{ currentMessage
                        }}</label>
                    <div class="stages-container" key="stages">
                        <div id="stage1" class="stage-circle" :class="{ 'stage-active': showStage1 && !showStage2 }"
                            v-if="showStage1">
                            <h3>Conexión<br>establecida</h3>
                        </div>
                        <img id="arrow-1" class="arrow" src="flecha.png" alt="" v-if="showStage2">
                        <div id="stage2" class="stage-circle" :class="{ 'stage-active': showStage2 && !showStage3 }"
                            v-if="showStage2">
                            <h3>Reto<br>enviado</h3>
                        </div>
                        <img id="arrow-2" class="arrow" src="flecha.png" alt="" v-if="showStage3">
                        <div id="stage3" class="stage-circle" :class="{ 'stage-active': showStage3 && !showStage4 }"
                            v-if="showStage3">
                            <h3>Respuesta<br>recibida</h3>
                        </div>
                        <img id="arrow-3" class="arrow" src="flecha.png" alt="" v-if="showStage4">
                        <div id="stage4" class="stage-circle"
                            :class="{ 'stage-active': showStage4 && !showAllowed && !showDenied }" v-if="showStage4">
                            <h3>Validación<br>de<br>respuesta</h3>
                        </div>
                        <div id="allowed" class="stage-circle" v-if="showAllowed">
                            <h3>Acceso<br>permitido</h3>
                        </div>
                        <div id="denied" class="stage-circle" v-if="showDenied">
                            <h3>Acceso<br>denegado</h3>
                        </div>
                    </div>
                    <button class="special-button btn-next blue" v-show="showButton" @click="nextStep"
                        class="next-button" key="nextbtn">
                        <p>{{ buttonText }}</p>
                    </button>
                </transition-group>
            </div>

            <div v-if="showFormUser" id="form-container">
                <div id="form-user" style="padding-right: 4vw !important;">
                    <div id="close-container">
                        <button class="btn-minus special-button red" style="margin-left: 0; margin-bottom: 7vh;"
                            @click="hideUserForm">
                            <p><i class="fa-solid fa-xmark"></i>Cerrar</p>
                        </button>
                    </div>
                    <h2>Crear usuario</h2>
                    <form @submit.prevent="createUser">
                        <div>
                            <label for="userName">Nombre de usuario:</label>
                            <input type="text" class="control-form" id="userName" v-model="userToCreate"
                                style="padding-right: 10vw;" required>
                        </div>
                        <div>
                            <label for="password">Contraseña:</label>
                            <input type="password" class="control-form" id="password" v-model="passwordToCreate"
                                required>
                        </div>
                        <button class="btn-user-plus special-button green" id="submitButton" style="margin-top: 7vh;"
                            type="submit">
                            <p><i class="fa-solid fa-plus"></i>Registrar</p>
                        </button>
                    </form>
                </div>
            </div>

            <div v-if="showUsers" id="form-container">
                <div id="users-panel" style="width: 60%; padding: 4vh 3vw;">
                    <div id="head">
                        <button class="btn-minus special-button red" style="margin-left: 0; margin-bottom: 7vh;"
                            @click="hideUsersPanel">
                            <p><i class="fa-solid fa-xmark"></i>Cerrar</p>
                        </button>
                    </div>
                    <h2>Usuarios</h2>
                    <div class="users-table-container">

                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Contraseña</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(user, index) in users" :key="index">
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.password }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>